# Streamlit Cloud 用の secrets テンプレート
#
# ローカル検証: このファイルを `secrets.toml` にコピーして値を入れる (コミットされない)
# Cloud デプロイ: Streamlit Community Cloud の Settings > Secrets に貼り付ける
#
# service_account.json の中身をそのまま TOML のネストしたテーブルとして貼る形

JQUANTS_API_KEY = "あなたのJ-QuantsのAPIキー"
GOOGLE_SHEET_ID = "GoogleスプレッドシートのID(URLのd/以降の長い文字列)"

# Google サービスアカウントの内容をまるごと以下に展開
# (ローカルで GOOGLE_CREDENTIALS_PATH を使っている場合は不要)
[GOOGLE_CREDENTIALS_JSON]
type = "service_account"
project_id = "xxxxxxxx"
private_key_id = "xxxxxxxx"
private_key = """-----BEGIN PRIVATE KEY-----
...改行含めてそのまま貼る...
-----END PRIVATE KEY-----
"""
client_email = "xxxxxxxx@xxxxxxxx.iam.gserviceaccount.com"
client_id = "xxxxxxxx"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "https://www.googleapis.com/robot/v1/metadata/x509/..."
universe_domain = "googleapis.com"
